.stories {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 16px 0;
  overflow-x: auto;
  scrollbar-width: thin;
  width: 100%;
  margin-bottom: 10px;
}
.create_story_card {
  position: relative;
  height: 200px;
  width: 123.5px;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to top, #e0e0e0, #f5f5f5);
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 6px;
  font-family: sans-serif;
}

.create_story_card:hover {
  transform: scale(1.03);
}

.create_story_img {
  position: absolute;
  height: 70%;
  width: 100%;
  max-width: 110px;
  object-fit: cover;
  filter: brightness(85%);
}
.plus_story {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-color);
  cursor: pointer;
  border: 4px solid #fff;
  z-index: 1;
}
.story_create_text {
  color: var(--color-primary);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.story {
  cursor: pointer;
  position: relative;
  height: 200px;
  width: 123.5px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.story_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}
.story:hover .story_img {
  transform: scale(1.1);
}

.story_text_preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  padding: 10px;
}

.story:hover .story_text_preview {
  transform: scale(1.05);
}

.story_text_content {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.story_profile_pic {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--blue-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.story_profile_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story_profile_name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  text-align: center;
  word-break: break-word;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.white_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
}
