$blue-hard: #3c539b;
$blue-icon: #afbad7;
$bg: #e8eaee;
$bg-msg-friend: #fefefe;
$bg-msg-me: #deebff;
$green-connect: #3cae1a;
$gray-icon: #afbad7;
$gray-border: #bfbfbf;
$white: #ffffff;
$blue-icon-select: #0075ff;

.chat {
  width: 700px;
  height: 600px;
  background-color: $bg;
  border: solid 0.5px $gray-border;
  bottom: 0;

  .chat-head {
    height: 28px;
    width: 700px;
    display: flex;
    flex-direction: row;
    .chat-connect {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green-connect;
      position: absolute;
      display: inline;
      margin-top: 8px;
    }
    .chat-name {
      text-align: left;
      line-height: 28px;
      font-size: 15px;
      margin-left: 14px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .chat-head-list-icon {
      // position: absolute;
      top: 7px;
      left: 170px;
      font-size: 13px;
      li {
        float: left;
        color: $gray-icon;
        padding-left: 10px;
        i:hover {
          cursor: pointer;
          color: $white;
        }     
      }
    }
  }
  .chat-foot {
    height: 60px;
    position: relative;
    top: 246px;
    padding-left: 10px;
    padding-right: 10px;
    textarea {
      border: none;
      outline: none;
      height: 23px;
      padding-top: 5px;
      font-size: 15px;
      width: 100%;
      resize: none;
      &::placeholder {
        color: $gray-border;
      }
    }
    .chat-foot-list-icon {
      display: flex;
      flex-direction: row;
      position: absolute;
      li {
        display: inline;
        i {
          color: $gray-border;
          margin-top: 2px;
          margin-right: 16px;
          &:hover,
          &.is-select {
            color: $blue-icon-select;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.skin-blue {
  background-color: $blue-hard;
  color: $white;
  font-family: arial;
  // padding: 0px 9px 0px 9px;
}
.skin-white {
  background-color: $white;
}
.skin-chat-border {
  border-radius: 4px 4px 0px 0px;
}
.skin-bottom-zero {
  margin-top: 20px;
  position: absolute;
}
.skin-padding-rl {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: $bg;
}


